<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complaint Form</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Complaint Recommendation</h1>
        <form id="complaintForm">
            <label for="id_complaint">Complaint ID:</label>
            <input type="text" id="id_complaint" name="id_complaint" required>
            <input type="submit" value="Submit">
        </form>
        <div id="resultContainer"></div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#complaintForm').on('submit', function(e) {
                e.preventDefault();

                var id_complaint = $('#id_complaint').val();

                $.ajax({
                    type: 'POST',
                    url: '/get_recommendation',
                    data: { id_complaint: id_complaint },
                    success: function(response) {
                        console.log(response);
                        var hasil = response.hasil;
                        var complaint = response.complaint;

                        var resultHtml = '<h2>Hasil Analisis Dan Rekomendasi Jawaban:</h2>';
                        resultHtml += '<p><strong>Complaint ID:</strong> ' + id_complaint + '</p>';
                        resultHtml += '<p><strong>Complaint:</strong> ' + complaint + '</p>';
                        resultHtml += '<p><strong>Rekomendasi Jawaban:</strong><br>' + marked.parse(hasil) + '</p>';
                        $('#resultContainer').html(resultHtml);
                    },
                    error: function(error) {
                        console.log(error);
                        alert('Error occurred while fetching recommendation.');
                    }
                });
            });
        });
    </script>
</body>
</html>
